
html {
     /*stiky footer*/
     height: 98%;
}
 body{
    background-image: url("../../assets/images/bg.png");
    background-repeat: repeat;
    background-color: black; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #777777;
    /*sticky footer*/
    height: 98%;
    display: flex;
    flex-direction: column;
/*sticky footer*/
    }

.container{
    background-color: white;
    max-width: 780px;
}

#mainbody{
    margin-top: 10px;
     /*sticky footer*/
     flex: 1 0 auto;
   
}


nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
      
}

.navbar-brand{
    
    background: #4aaaa5;
    font-size: 40px;
    height: 70px;
    padding: 0px 10px 0px 10px;
    
}

.navbar{
    padding: 0;
}

#h{
    color: #4aaaa5;
    padding: 10px;
    
}

footer{
    background: #666666;
    color: white;
    height: 70px;
    text-align: center;
    padding-top: 25px;
    margin-top: 25px;
    border-top: 8px solid #4aaaa5;
   /*sticky footer*/
   flex-shrink: 0;
   width:100%;
   font-size: x-small;
/*sticky footer*/
} 


/*styling About*/
#profile{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;

}

#conten.a{
    color: #777777;
}





/*styling Portfolio*/

.box{
    color: white;
    background: #4aaaa5;
    font-size: 20px;
    padding: 10px;
    height: 40px;
    position: relative;
    bottom: 50px;
     /*float: left; */
    width: 300px;
    text-align: center; 
}


.btn{
    background: #4aaaa5;
    color: white;
    margin-bottom: 10px;
   
}

