html {
    /* stiky footer
    height: 98%; */
    min-width: 380px;
}

body {
    background-image: url("../../assets/images/bg.png");
    background-repeat: repeat;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    /*sticky footer
    height: 98%;
    display: flex;
    flex-direction: column;
    /*sticky footer*/
}

.container {
    background-color: white;
    max-width: 780px;
}

#mainbody {
    margin-top: 10px;
    margin-bottom: 10px;
    /*sticky footer
    flex: 1 0 auto;*/
}

nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}

.navbar-brand {
    background: #4aaaa5;
    font-size: 40px;
    height: 70px;
    padding: 0px 10px 0px 10px;
    animation: photo 5s;
    -webkit-animation: photo 5s;
}

.navbar {
    padding: 0;
}

#h {
    color: #4aaaa5;
    padding: 10px;
    animation: h 5s;
    -webkit-animation: h 5s;
}

@-webkit-keyframes h {
    0% {
        color: orange;
    }
    50% {
        color: yellow;
    }
    100% {
        color: #16f1f1;
    }
}

@keyframes h {
    0% {
        color: orange;
    }
    50% {
        color: yellow;
    }
    100% {
        color: #16f1f1;
    }
}

footer {
    background: #666666;
    color: white;
    height: 70px;
    text-align: center;
    padding-top: 25px;
    /* margin-top: 25px; */
    border-top: 8px solid #4aaaa5;
    /*sticky footer
    flex-shrink: 0;
    width: 100%;
    font-size: x-small;
    /*sticky footer*/
}

/*styling About*/

#profile {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
    animation: photo 5s;
    -webkit-animation: photo 5s;
}

#content a {
    color: #777777;
}

/*styling Portfolio*/

.box {
    color: white;
    background: #4aaaa5;
    font-size: 20px;
    padding: 10px;
    height: 40px;
    position: relative;
    bottom: 50px;
    width: 300px;
    text-align: center;
}

.portimg {
    animation: photo 2s;
    -webkit-animation: photo 2s;
}

/* prevent same row images overlap when in  with = 612 px */

.myextraformat {
    padding: 0 0 0 50px;
    min-width: 305px;
}

/* Style Contact */

.btn {
    background: #4aaaa5;
    color: white;
    margin-bottom: 10px;
}

@-webkit-keyframes photo {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes photo {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}